[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "public"]
	path = public
	url = https://github.com/ndgnuh/ndgnuh.github.io
	branch = master
