@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto') url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaa';
    src: url('../fonts/Comfortaa/static/Comfortaa-Regular.ttf');
    src: url('../fonts/Comfortaa/static/Comfortaa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

